{% extends "data_index.html" %}
{% block form %}
<div class="page-header">
    <h2>登记房源
        <small>修改保存房源登记信息</small>
    </h2>
</div>
<div class="row">
    <div class="col-lg-6">
        <form action="/data/house/add" method="post">
            <div class="form-group">
                {{ form.as_p }}
                <button type="submit">登记房屋</button>
            </div>
        </form>
        {{ msg }}
    </div>
    <div class="col-lg-6">
        <h3>执行结果：</h3>
        <span style="color:red">{{ result_data }}</span>
    </div>
</div>
{% endblock %}