<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.7-dist/css/sticky-footer.css" rel="stylesheet">
    <script src="/static/bootstrap-3.3.7-dist/js/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>QA Platform</title>
</head>
<body>
<div class="container-fluid">
    <!--to nav bar-->
    <div class="row">
        <div col-lg-12>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">QA Platform</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="padding-right:10px">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/learning/">About</a>
                        </li>
                        <li>
                            <a href="/user/" onclick="resetClass">Users</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a><i class="glyphicon glyphicon-user"></i> {{ user.first_name }}</a>
                        </li>
                        <li>
                            <!--<a href="#">{{ user.first_name }}</a>-->
                        </li>
                        <li>
                            <a href="/logout/">Log Out</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
        </nav>
    </div>
    <!--cotent-->
    <div class="row" style="margin:20px; margin-top:4%">
        <div col-lg-12>
            {% block content %}
            <p>base content ...</p>
            {% endblock %}
        </div>
    </div>


    <!--footer-->
    <div class="row">
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Powered by abxx, copy reserved! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last login at {{ user.last_login }}</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>