{% extends "base_page.html" %}

{% block content %}
<!--导航栏样式调整-->
<span id="page_flag" hidden>学习资料</span>

<div class="list-group">
  <a href="https://www.python.org/" class="list-group-item" target="_blank">Python 官网: https://www.python.org/</a>
  <a href="https://www.djangoproject.com/" class="list-group-item" target="_blank">Django 官网: https://www.djangoproject.com/</a>
  <a href="https://docs.djangoproject.com/zh-hans/2.1/" class="list-group-item" target="_blank">Django 中文文档: https://www.djangoproject.com/</a>
  <a href="http://www.bootcss.com/" class="list-group-item" target="_blank">Bootstrap 官网: http://www.bootcss.com/</a>
</div>

{% endblock %}