{% extends "base_site.html" %}

{% block content %}
<!--导航栏样式调整-->
<!--<span id="page_flag" hidden>学习资料</span>-->

<ul class="nav nav-tabs nav-stacked">
  <li><a href="https://www.python.org/" class="list-group-item" target="_blank">Python 官网: https://www.python.org/</a></li>
  <li><a href="https://www.djangoproject.com/" class="list-group-item" target="_blank">Django 官网: https://www.djangoproject.com/</a></li>
  <li><a href="https://docs.djangoproject.com/zh-hans/2.1/" class="list-group-item" target="_blank">Django 中文文档: https://www.djangoproject.com/</a></li>
  <li><a href="https://docs.djangoproject.com/zh-hans/2.1/" class="list-group-item" target="_blank">Django-suit 文档: https://django-suit.readthedocs.io/en/latest/configuration.html</a></li>
  <li><a href="http://www.bootcss.com/" class="list-group-item" target="_blank">Bootstrap 官网: http://www.bootcss.com/</a></li>
</ul>

{% endblock %}